.cards-edit {
  margin: 100px;
}

.cards-edit h3{
  font-size: 30px;
  color: #ff8a47;
}

.cards-edit .study-btn {
  padding: 5px 15px;
  border-radius: 4px;
  color: white;
  float: left;
  margin: 20px;
}

.cards-edit .create-deck-btn {
  float: left;
}

.cards-edit textarea {
  padding: 10px 16px;
  width: calc(100% - 40px);
}

.cards-edit td {
  padding: 8px;
  border-top: 1px solid #cccccc;
  vertical-align: middle;
}

.cards-edit table {
  color: #333333;
  width: 80%;
}

.cards-edit th {
  font-weight: bold;
  padding: 10px;
}

.card-delete {
  color: white;
  background: #d9534f;
  border-color: #d43f3a;
  padding: 5px 10px;
  border-radius: 3px;
}

.card-delete:hover {
  background: #c9302c;
  border-color: #ac2925;
}

.errors-list .success-notif {
  background: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}

.study {
  background-color: #f2f2f2;
}

.stats header {
  background-color: #4a4a4a;
  color: #b0b0b0;
  padding: 16px;
  font-size: 18px;
}

.stats .percent {
  position: absolute;
  font-size: 74px;
  font-weight: 100;
  top: 174px;
  left: 151px;
  width: 100px;
  text-align: center;
}

.stats .percent-sign {
  position: absolute;
  font-size: 20px;
  font-weight: 100;
  color: #d8d8d8;
  top: 190px;
  left: 244px;
}

.stats .mastery-subtitle {
  position: absolute;
  font-size: 18px;
  font-weight: 100;
  color: #d8d8d8;
  top: 252px;
  left: 174px;
}

.stats header span {
  color: white;
}

.stats .blue-button {
  font-size: 18px;
  padding: 10px 40px;
  font-weight: 300;
  margin: 20px auto;
}

.stats .blue-button i {
  margin-right: 10px;
}

.stats .deck-percent {
  width: 48%;
  margin: 32px auto;
}

.mastered-card-count {
  font-size: 46px;
  font-weight: 100;
  background: #444444;
  border-radius: 2px;
  padding: 0 16px;
  width: 88%;
  box-sizing: border-box;
  margin: 5vh auto;
  margin-bottom: 8vh;
  display: flex;
  display: -webkit-flex;
  align-content: space-around;
  -webkit-align-content: space-around;
  align-items: center;
  -webkit-align-items: center;
}

.mastered-card-count p {
  width: 51px;
  text-align: right;
}

.mastered-card-count strong {
  color: #949494;
  font-size: 70px;
  margin: 0 10px;
}

.mastered-card-count small {
  font-size: 12px;
  margin: 7px;
  display: block;
  letter-spacing: 1.5px;
}

.mastered-card-count > * {
  float: left;
  vertical-align: middle;
}

.confidence-progress-holder {
  background-color: #444444;
  height: 18px;
  width: 85%;
  margin-left: 0;
  float: right;
}

.confidence-counts li {
  margin: 3vh 15px;
}

.confidence-progress {
  height: 100%;
}

.confidence-progress-caption {
  padding-right: 10px;
  padding-left: 19px;
  float: left;
}

.zero {
  background: #29a5dc;
}

.one {
  background: #aa0080;
}
.two {
  background: #ff8a47;
}
.three {
  background: #ffdd00;
}
.four {
  background: #7fae2e;
}
.five {
  background: #00a8d7;
}

.card-study {
  float: right;
  position: relative;
  width: calc((100vw - 367px) * 0.87);
  height: 69%;
  margin: 5vh calc((100vw - 367px) * 0.05);
}
.card-study h6 {
  padding-bottom: 9px;
  color: #333333;
  text-align: right;
}

.card {
  width: 100%;
  height: 100%;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.25);
  background-color: white;
  box-sizing: border-box;
}

.card.one {
  border-bottom: 4px solid #aa0080;
}

.card.two {
  border-bottom: 4px solid #ff8a47;
}

.card.three {
  border-bottom: 4px solid #ffdd00;
}

.card.four {
  border-bottom: 4px solid #7fae2e;
}

.card.five {
  border-bottom: 4px solid #00a8d7;
}

.study-toolbar {
  margin-top: 72vh;
  font-weight: 300;
}

.study-toolbar p {
  color: #333333;
  height: 20px;
  text-align: center;
  margin-bottom: 5px;
}

.card-btns {
  font-size: 24px;
  width: 100%;
  height: 11vh;
  box-shadow: 0 3px 4px rgba(0,0,0,0.25);
}

.card-btns small {
  font-size: 12px;
  position: absolute;
  width: 50px;
  top: calc(((100% - 18px) * 0.5) + 18px);
  right: calc((100% - 50px) * 0.5);
}

.reveal-btn {
  width: 100%;
  height: 100%;
  text-align: center;
}

.rating-btn {
  float: left;
  width: 20%;
  height: 100%;
  text-align: center;
  position: relative;
}

.side-text {
  height: 100%;
  width: 8%;
  color: #bfbfbf;
  font-size: 18px;
  padding-left: 16px;
  padding-top: 16px;
  box-sizing: border-box;
}

.card-text {
  height: 100%;
  width: 84%;
  color: #333333;
  font-size: 24px;
  display: flex;
  display: -webkit-flex;
  align-content: space-around;
  -webkit-align-content: space-around;
  align-items: center;
  -webkit-align-items: center;
}

.card-text p {
  width: 100%;
  text-align: center;
}

.card > * {
  float: left;
}
.edit-side {
  height: 100%;
  width: 8%;
}

.flip-container {
  position: absolute;
  left: 0;
	perspective: 1000px;
  transition: 0.5s all;
}

.flip-container.old-card {
  transform: rotateY(180deg);
  z-index:3
}

.flip-container.flipped .flipper {
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 100%;
  height: 100%;
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;

  height: 100%;
}

.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

.front {
	/*z-index: 2;*/
	/* for firefox 31 */
	transform: rotateY(0deg);
}

.back {
	transform: rotateY(180deg);
}
