.cards-edit {
  margin: 100px;
}

.cards-edit h3{
  font-size: 30px;
  color: #ff8a47;
}

.cards-edit .study-btn {
  padding: 5px 15px;
  border-radius: 4px;
  color: white;
  float: left;
  margin: 20px;
}

.cards-edit .create-deck-btn {
  float: left;
}

.cards-edit textarea {
  padding: 10px 16px;
  width: calc(100% - 40px);
}

.cards-edit td {
  padding: 8px;
  border-top: 1px solid #cccccc;
  vertical-align: middle;
}

.cards-edit table {
  color: #333333;
  width: 80%;
}

.cards-edit th {
  font-weight: bold;
  padding: 10px;
}

.card-delete {
  color: white;
  background: #d9534f;
  border-color: #d43f3a;
  padding: 5px 10px;
  border-radius: 3px;
}

.card-delete:hover {
  background: #c9302c;
  border-color: #ac2925;
}

.errors-list .success-notif {
  background: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}

.stats header {
  background-color: #4a4a4a;
  color: #b0b0b0;
  padding: 16px;
  font-size: 18px;
}

.stats .percent {
  position: absolute;
  font-size: 74px;
  font-weight: 100;
  top: 170px;
  left: 151px;
  width: 100px;
  text-align: center;
}

.stats .percent-sign {
  position: absolute;
  font-size: 20px;
  font-weight: 100;
  color: #d8d8d8;
  top: 190px;
  left: 244px;
}

.stats .mastery-subtitle {
  position: absolute;
  font-size: 18px;
  font-weight: 100;
  color: #d8d8d8;
  top: 252px;
  left: 174px;
}

.stats header span {
  color: white;
}

.stats .blue-button {
  font-size: 18px;
  padding: 10px 40px;
  font-weight: 300;
  margin: 20px auto;
}

.stats .blue-button i {
  margin-right: 10px;
}

.stats .deck-percent {
  width: 48%;
  margin: 32px auto;
}

.mastered-card-count {
  font-size: 46px;
  font-weight: 100;
  background: #444444;
  border-radius: 2px;
  padding: 16px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.mastered-card-count strong {
  color: #949494;
  font-size: 65px;
}
