.decks > header {
  border-bottom: 2px solid #dddddd;
  width: 90%;
}

.decks > header h4 {
  color: #333333;
  font-size: 14px;
  font-weight: bold;
  margin: 20px 25px;
  vertical-align: middle;
  float: left;
  display: block;
}

.create-deck-btn {
  float: right;
  color: #29a5dc;
  cursor: pointer;
  padding: 22px 29px;
  font-size: 14px;
  display: block;
}

.create-deck-btn:hover {
  color: #1a769f;
  text-decoration: underline;
}

.create-deck-btn strong {
  font-size: 16px;
  padding-right: 5px;
}

.deck-item {
  width: 90%;
  border-bottom: 1px solid #dddddd;
  position: relative;
}

.deck-item:nth-of-type(odd){
  background: #f9f9f9;
}

.deck-item .percentage {
  color: #00a8d7;
  float: left;
  font-size: 32px;
  font-weight: 200;
  padding: 10px;
  width: 20%;
}

.deck-item button {
  float: right;
  padding: 5px 15px;
  cursor: pointer;
  font-weight: 300;
  height: 22px;
  margin-top: 12px;
}

.deck-title {
  padding: 10px;
  float: left;
}

.deck-title h5{
  color: #29a5dc;
  display: block;
  font-size: 18px;
  cursor: pointer;
}

.deck-title h5:hover {
  color: #1a769f;
  text-decoration: underline;
}

.deck-title span {
  color: #999999;
  font-weight: 200;
}

.study-btn {
  line-height: 1.2;
  background: #29a5dc;
  border-color: #2196ca;
  border-radius: 4px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border: 1px solid transparent;
}

.study-btn:hover {
  background: #1e86b4;
  border-color: #186f96
}

.study-btn span {
  font-size: 16px;
  margin-right: 5px;
}

.deck-menu-btn {
  background: #5bc0de;
  font-size: 16px;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid transparent;
  margin-right: 20px;
}

.deck-menu-btn:hover {
  background: #31b0d5;
  border-color: #269abc;
}

.modal-form.new-deck-form {
  width: 325px;
}

.deck-menu {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

}
