/*NAV*/

.nav {
  background: rgba(38, 38, 38, 0.95);
  box-shadow: 0 2px 4px rgba(0,0,0,0.25);
  transition: all 0.3s;
  position: fixed;
  width: 100%;
  border-bottom: 4px solid #ff8a47;
  color: rgb(127,127,127);
  display: block;
}

.nav .logo {
  width: 33px;
  margin: 15px;
  margin-left: 25px;
  margin-right: 10px;
  float: left;
}

.nav h2 {
  color: white;
  font-size: 16px;
  float: left;
  display: block;
  padding: 20px;
  padding-left: 4px;
  letter-spacing: 1px;
}
.nav h2 > span {
  font-weight: 100;
  letter-spacing: 2px;
}

.nav > ul {
  float: left;
  margin-left: 11px;
}

.nav > ul > li {
  float: left;
  padding: 15px;
  padding-top: 20px;
}

.header-link:hover  {
  color: #29a5dc;
}

.auth-nav {
  float: right;
  display: block;
}

.logged-out-nav a {
  float: left;
}

.nav .blue-button {
  margin: 16px 20px;
}

.logged-out-nav .header-link {
  margin: 20px;
}

.logged-in-nav > * {
  float: left;
}

.logged-in-nav > p {
  margin: 20px;
}
