.modal-close-btn {
  display: block;
  position: absolute;
  right: -14px;
  top: -14px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 14px;
  color: #29a5dc;
  background: black;
  border: 2px solid #29a5dc;
  text-align: center;
  font-weight: bold;
  box-shadow: 0px 4px 2px rgba(0,0,0,0.25);
  cursor: pointer;
}

.modal-close-btn:hover {
  transform: scale(1.1);
  box-shadow: 0px 8px 4px rgba(0,0,0,0.25);
}

.session-form {
  font-family: 'Proxima Nova Light', sans-serif;
  background: white;
  color: #555555;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  width: 100%;
  height: 100%;
  font-weight: lighter;
}

.form-header {
  display: block;
  font-size: 24px;
  color: #ff8a47;
  text-align: center;
}

.session-form > h4 {
  padding: 30px 130px;
}

.session-form .errors-list {
  text-align: center;
  margin: 0 35px;
  color: #3a87ad;
}
.errors-list {
  text-align: center;
  margin: 0 35px;
  color: #3a87ad;
}

.session-form .errors-list li {
  background-color: #d9edf7;
  border: 1px solid #bce8f1;
  border-radius: 4px;
  padding: 10px 10px;
  margin-top: 10px;
}
.errors-list li {
  background-color: #d9edf7;
  border: 1px solid #bce8f1;
  border-radius: 4px;
  padding: 10px 10px;
  margin-top: 10px;
}

.errors-list tr {
  background-color: #d9edf7;
  border: 1px solid #bce8f1;
  border-radius: 4px;
  padding: 10px 10px;
  margin-top: 10px;
}

.session-form .blue-button {
  margin: 25px auto;
  padding: 10px 25px;

}

.form-input {
  padding-left: 10px;
  display: block;
  margin: 15px auto;
  width: 80%;
  height: 42px;
  font-size: 18px;
  background: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  box-shadow: none;
  transition: all 0.2s;
}

.form-input:focus {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
}

.guest-login {
  display: block;
  color: #29a5dc;
  margin: 20px auto;
  cursor: pointer;
  font-weight: normal;
}

.guest-login:hover {
  text-decoration: underline;
}
