html, header, body, div, main, nav, h1, h2, h3, h4, h5, h6, p,
li, ul, input, button, a, textarea, button, article, footer,
small, strong, form, p, img, section {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  text-decoration: inherit;
  text-align: inherit;
  vertical-align: inherit;
  font: inherit;
  color: inherit;
  box-sizing: inherit;
  background: transparent;
}

p:hover, h4:hover, strong:hover {
  cursor:default;
}

body {
  color: white;
  font-size: 14px;
  text-decoration: none;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing: content-box;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.group {
  content: "";
  display: block;
  clear: both;
}

.blue-button {
  display: block;
  padding: 5px 18px;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0px 3px 4px rgba(0,0,0,0.25);
  color: white;
  background: #29a5dc;
  border: none;
  text-align: center;
}

.blue-button:hover {
  box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
  text-decoration: none;
  background: #55b7e3;
  color: white;
}

.content {
  padding-top: 62px;
  display: block;
}
