html, header, body, div, main, nav, h1, h2, h3, h4, h5, h6, p,
li, ul, input, button, a, textarea, button, article, footer,
small, strong, form, p, img, section, hr, table, th, tr, td,
thead, tfoot, tbody, figure, figcaption {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  text-decoration: inherit;
  text-align: inherit;
  vertical-align: inherit;
  font: inherit;
  color: inherit;
  box-sizing: inherit;
  background: transparent;
}

p:hover, h4:hover, strong:hover {
  cursor:inherit;
}

body {
  color: white;
  font-size: 14px;
  text-decoration: none;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing: content-box;
}

body:hover {
  cursor: default;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

textarea {
  color: #555555;
  border-radius: 6px;
  border: 1px solid #cccccc;
}

textarea:focus {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
}

a > strong {
  margin-right: 5px;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.blue-button {
  display: block;
  padding: 5px 18px;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0px 3px 4px rgba(0,0,0,0.25);
  color: white;
  background: #29a5dc;
  border: none;
  text-align: center;
  transition: .2s;
}

.blue-button:hover {
  box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
  text-decoration: none;
  background: #55b7e3;
  color: white;
}

.content {
  padding-top: 62px;
  display: block;
}

.home {
  height: 100vh;
  background-image: image_url('peak.jpg');
  background-size: cover;
  background-position: center;
  margin-top: -62px;
}

.home-text-cont {
  padding-top: 22vh;
}

.home-text {
  color: white;
  padding: 40px 0;
  border-radius: 6px;
  width: 500px;
  margin-left: 21%;
  background-color: rgba(0,0,0,0.5);
  text-align: center;
}

.home-text h2 {
  text-shadow: 1px 2px 2px rgba(0,0,0,0.75);
  font-size: 64px;
  font-weight: 200;
}

.home-text h4 {
  text-shadow: 1px 1px 2px rgba(0,0,0,0.65);
  margin: 35px;
  font-size: 23px;
  font-weight: 300;
}

.home-text hr {
  width: 400px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-top: 1px solid white;
  margin: 0 auto;
  margin-top: 10px;
}

.home-text .blue-button {
  margin: 0 auto;
  padding: 15px 63px;
  font-size: 36px;
  border-radius: 3px;
  font-weight: 100;
  letter-spacing: 1.5px;
}
